
*.exe
*/Executable
Test/export_presets.cfg
Test/MainScene/Executable/CircleGuy2.pck
Executable/CircleGuy2.zip
*.xml
*.properties
*.gradle
Test/android/build/.gdignore
*.bat
Test/android/build/gradlew
*.java
*.zip
